<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="w-50" src="/images/logo.png" alt="Waaw Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>
    <div class="container-fluid register-1">
        <form action="/survey" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title of Survey</label>
                <input type="text" class="form-control" name="title" id="formGroupExampleInput" placeholder="Survey Title" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description of Survey</label>
                <input type="text" class="form-control" name="description" id="formGroupExampleInput2" placeholder="Description" required="required">
            </div>
            <div class="mb-3">
                <label for="place" class="form-label">Place</label>
                <input type="text" class="form-control" name="place" id="formGroupExampleInput2" placeholder="Place" required>
            </div>
            <div class="name">
                <div class="mb-3">
                    <label for="start" class="form-label">Start Date</label>
                    <input type="Date" class="form-control" name="start" id="formGroupExampleInput2" placeholder="4/4/2000" required>
                </div>
                <div class="mb-3">
                    <label for="end" class="form-label">End Date</label>
                    <input type="Date" class="form-control" name="end" id="formGroupExampleInput2" placeholder="4/4/2000" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">User ID</label>
                <input type="text" class="form-control" name="user" id="formGroupExampleInput2" placeholder="User ID" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Create Survey</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>

</html>