@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: #F7F6F2;
}

.front {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 100px;
}

.text-heading {
    width: 100%;
}

.register {
    display: flex;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 50%;
    box-shadow: 0 10px 15px rgba(179, 179, 179, .7);
    border-radius: 10px;
    background: #FFFFFF;
}

.register-1 {
    display: flex;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    width: 50%;
    box-shadow: 0 10px 15px rgba(179, 179, 179, .7);
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 30px;
}

.name {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.name>div {
    width: 100%;
}

.name input {
    width: 95%;
}

.text-heading>h1 {
    font-size: 60px;
    font-weight: 900;
    color: #053742;
    font-family: 'Rubik', sans-serif;
}

.text-heading>h2 {
    font-size: 40px;
    word-spacing: 3px;
    color: #053742;
    font-weight: 400;
}

.nav-brand>img {
    width: 100px;
}

.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    margin: 10px auto;
    background: #FFFFFF;
    box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #053742;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 550px;
}

.head {
    color: #297d58;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
}

.success>h3 {
    font-size: 20px;
    font-weight: bold;
    color: #053742;
    padding: 6px;
}

.success>h4 {
    line-height: 36px;
    font-size: 24px;
    text-align: center;
}

.tick {
    width: 90px;
}

@media screen and (max-width: 600px) {
    .head {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    .name {
        flex-direction: column;
    }
    .success>h4 {
        line-height: 24px;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    .success>h3 {
        font-size: 16px;
        font-weight: 300;
        color: #053742;
        text-align: center;
    }
    .btn-success {
        padding: 2px 8px;
    }
    .tick {
        width: 20%;
    }
     ::placeholder,
    label {
        font-size: medium;
    }
}

@media screen and (max-width: 767px) {
    .register {
        padding: none;
        height: 85%;
        width: 100%;
        margin: 30px 0;
    }
    .register-1 {
        padding: none;
        height: 90%;
        width: 100%;
        /* margin: 10px 0; */
    }
    .front {
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        padding-top: 40px;
        padding-left: none;
    }
    .text-heading {
        width: 100%;
    }
    .text-heading>h1 {
        font-size: 30px;
        font-weight: 600;
        color: #053742;
        font-family: 'Rubik', sans-serif;
    }
    .text-heading>h2 {
        font-size: 20px;
        word-spacing: 3px;
        color: #053742;
        font-weight: 400;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .head {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    .success>h4 {
        line-height: 24px;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    .success>h3 {
        font-size: 16px;
        font-weight: 300;
        color: #053742;
        text-align: center;
    }
    .btn-success {
        padding: 2px 8px;
    }
    .tick {
        width: 20%;
    }
     ::placeholder,
    label {
        font-size: medium;
    }
}

@media screen and (max-width: 400px) {
    .head {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    .success>h4 {
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    .success>h3 {
        font-size: 14px;
        font-weight: 300;
        color: #053742;
        text-align: center;
    }
    .btn-success {
        padding: 3px 8px;
        font-size: medium;
    }
    .btn-primary {
        padding: 10px 10px;
        font-size: medium;
    }
    span {
        text-align: center;
    }
    .navbar-brand {
        display: none;
    }
    .tick {
        width: 20%;
    }
     ::placeholder,
    label {
        font-size: small;
    }
}